/******************/
/* GLOBAL STYLES */
/*****************/
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");

:root {
  --Dark-Blue: #2d314d;
  --Lime-Green: #31d35c;
  --Bright-Cyan: #2bb7da;
  --Grayish-Blue: #9698a6;
  --Light-Grayish-Blue: #f3f4f6;
  --Very-Light-Gray: #fafafa;
  --White: #ffffff;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Public Sans", sans-serif;
  overflow-x: hidden;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}

@media (max-width: 768px) {
  body {
    text-align: center;
  }
}

/******************/
/* HERO SECTION */
/*****************/

#hero-right {
  background-image: url("/images/bg-intro-desktop.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 767px) {
  #hero {
    padding: 1rem 0;
  }
  #hero .col-md-5.m-auto {
    text-align: center;
    padding: 1rem;
  }
}

/******************/
/* ABOUT SECTION*/
/*****************/

#about {
  background-color: var(--Light-Grayish-Blue);
}

.about-sub-heading {
  color: var(--Grayish-Blue);
  font-size: 0.9rem;
}

.features-subheading {
  font-size: 0.8rem;
  color: var(--Grayish-Blue);
}

@media (max-width: 1024px) and (min-width: 768px) {
  #about {
    text-align: center;
  }

  .about-sub-heading {
    color: var(--Grayish-Blue);
    font-size: 0.8rem;
  }

  .features-subheading {
    font-size: 0.7rem;
    color: var(--Grayish-Blue);
  }

  #about .col-md-2,
  #blog .col-md-2 {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 768px) {
  .features-subheading {
    padding: 0 1rem;
  }
}

/******************/
/* BLOG SECTION */
/*****************/

.blog-author-name {
  font-size: 0.6rem;
  color: var(--Dark-Blue);
}

.article-name {
  font-size: 0.9rem;
}

.article-body {
  font-size: 0.8rem;
  color: var(--Grayish-Blue);
}

@media (max-width: 768px) {
  .article-body {
    padding: 0 1rem;
  }
}

/******************/
/* FOOTER SECTION */
/*****************/

footer {
  background-color: var(--Grayish-Blue);
}

.footer-nav,
.social-links {
  display: flex;
  flex-direction: column;
}

.social-links {
  flex-direction: row;
  gap: 1rem;
}

.footer-nav li a {
  color: var(--White);
}

footer p {
  color: var(--White);
  font-size: 0.7rem;
}

@media (max-width: 768px) {
  footer {
    text-align: center;
  }
}
