@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");

:root {
  --Dark-Blue: #2d314d;
  --Lime-Green: #31d35c;
  --Bright-Cyan: #2bb7da;
  --Grayish-Blue: #9698a6;
  --Light-Grayish-Blue: #f3f4f6;
  --Very-Light-Gray: #fafafa;
  --White: #ffffff;
}

body {
  font-family: "Public Sans", sans-serif;
}

#hero {
  background-color: var(--Very-Light-Gray);
}

#hero-right {
  background-image: url("/images/bg-intro-desktop.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 767px) {
  #hero {
    padding: 1rem 0;
  }
  #hero .col-md-5.m-auto {
    text-align: center;
    padding: 1rem;
  }
}
